body{
    color: #535353;
    background-color: #E0F1E7;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.SR , .GQ {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 46.5%;
    height: 50px;
    margin-right: 5px;
    background-color: #fff;
}

.GQ input[type="radio"] , .SR input[type="radio"] {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.GQ span , .SR span{
    vertical-align: baseline;
}

.personal-details, .personal-details2 {
    display: inline-block;
    vertical-align: top;
    width: 48.7%;
    padding: 5px;
}

.personal-details label, .personal-details2 label {
    display: block;
    margin-bottom: 20px;
}

.personal-details input, .personal-details2 input {
    width: 100%;
}

.email-details{
    display: inline-block;
    vertical-align: top;
    width: 99.5%;
    padding: 5px;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;   
}

form h2 {
    text-align: left;
    margin-bottom: 30px;
}

.query, .message, .checkboxes {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; resize: none;
    border-radius: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

.query input[type="radio"] {
    margin-bottom: 10px;
}

.checkboxes label {
    display: inline-block;
    margin-left: 10px;
}

.submit input[type="submit"] {
    width: 96%;
    padding: 10px;
    background-color: #0B715F;
    color: #fff;
    cursor: pointer;
    border-radius: 10px; 
    border: none;
}

.submit input[type="submit"]:hover {
    background-color: #0eac8f;
    border-radius: 10px; 
}


/* Tablet (max-width: 768px) */
@media (max-width: 768px) {
    .SR, .GQ {
        width: 100%;
        margin-bottom: 20px;
    }
    .personal-details, .personal-details2 {
        width: 100%;
        padding: 5px;
    }
    .email-details {
        width: 100%;
        padding: 5px;
    }
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
    .SR, .GQ {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .personal-details, .personal-details2 {
        width: 100%;
        padding: 5px;
    }
    .email-details {
        width: 100%;
        padding: 5px;
    }
    input[type="text"], input[type="email"], textarea {
        width: 95%;
    }
    .submit input[type="submit"] {
        width: 95%;
    }
}